    <div class="side-bar-top">
     <div class="name">Ren</div>
     <a href="#" class="chatーcreate">チャットを作成する</a>
    </div> 

    <div class="side-bar-bottom">
     <div a href="#" class="room-name">techroom1</a></div>
     <div a href="#" class="room-name2">techroom2</a></div>   
    </div> 